{
  env: {
    node: true
  },
  extends: [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "prettier"
  ],
  parser: "@typescript-eslint/parser",
  parserOptions: {
    allowImportExportEverywhere: true,
    sourceType: "module"
  },
  plugins: [
    "babel",
    "prettier",
    "json",
    "eslint-plugin-import-helpers",
    "@typescript-eslint"
  ],
  rules: {},
  settings: {
    "import/resolver": {
      node: {
        extensions: [
          ".js",
          ".ts"
        ]
      }
    }
  }
}